@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --main: #ff6e01;
  --bg: #f1e1d2;
  --black: #000000;
  --white: #ffffff;
  --footer: #543a34;
  --titlesmall: #ffffffd0;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5rem;
}

section {
  padding: 8rem 7%;
}

.titel {
  text-align: center;
  font-size: 4rem;
  color: var(--main);
  margin-bottom: 3rem;
  padding: 1.2rem 0;
}

.btn {
  font-size: 1.7rem;
  display: inline-block;
  background: var(--main);
  color: var(--white);
  border-radius: 3rem;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
  z-index: 0;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0%;
  background: #ff9748;
  z-index: -1;
  transition: .3s linear;
  left: 0;
}

.btn:hover::before {
  width: 100%;
}


/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
}

.header .logo img {
  height: 2vw;
  width: auto;
}

.header .navbar a {
  font-size: 1.5rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover,
.header .navbar a.active {
  color: var(--main);
}

#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}

/* end */

/* home */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/home.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  color: var(--white);
  font-size: 6rem;
  line-height: 1.4;
}

.home .content p {
  color: var(--titlesmall);
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 400;
}

.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}


/* end */

/* about */

.about .box-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.about .box-container .image {
  flex: 1 1 31rem;
}

.about .box-container .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 41rem;
}

.about .content .title {
  font-size: 4rem;
  color: var(--black);
}

.about .content p {
  font-size: 1.7rem;
  color: #444;
  padding: 1rem 0;
  line-height: 2;
}

.about .content .icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-top: 3rem;
}

.about .content .icons-container .icons {
  flex: 1 1 16rem;
  text-align: center;
  background: var(--bg);
  padding: 3rem 2rem;
}

.about .content .icons-container .icons .fas {
  height: 5rem;
  font-size: 4rem;
  color: var(--main);
}

.about .content .icons-container .icons h3 {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #444;
  font-weight: normal;
}

/* end */

/* galerij */

.galerij {
  background: var(--bg);
}

.galerij .slide .image {
  height: 50rem;
  overflow: hidden;
  position: relative;
}

.galerij .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* end */


/* video */

.video1 {
  padding-top: 3rem;
  background: url(../images/video-background.png) no-repeat
}

.video1 .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.video1 .row .content {
  flex: 1 1 39rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.video1 .video {
  width: 100%;
  height: 40rem;
}


.video1 .row .image {
  flex: 1 1 41rem;
  margin-bottom: -14rem;
}

.video1 .row .image img {
  width: 100%;
}

/* end */

/* doneren */

.doneren {
  background: var(--white);
}

.doneren .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.doneren .row .content {
  flex: 1 1 39rem;
}

.doneren .row .content h3 {
  font-size: 2rem;
  color: var(--main);
}

.doneren .row .content p {
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 1.8;
}

.doneren .animatie {
  width: 40vw;
  height: 40rem;
}


/* end */

/* contact */

.contact {
  background: var(--bg);
}

.contact form {
  padding: 2rem 10%;
  text-align: center;
}

.contact form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact form .inputBox input,
.contact form textarea {
  font-size: 1.7rem;
  width: 49%;
  padding: 1rem 2rem;
  margin: 1rem 0;
  border-radius: .5rem;
  text-transform: none;
}


.contact form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

/* end */

/* footer */

.footer {
  background: var(--footer);
  background-size: cover;
  padding: 3rem 7%;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--main);
  padding: 1rem 0;
}

.footer .box-container .box .links {
  display: block;
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box .links i {
  color: var(--main);
  padding-right: .5rem;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}


/* end */

/* media queries */

@media(max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 8rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar.active {
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    color: #000;
    display: block;
  }


  .home {
    background-position: left;
  }

  .home .content h3 {
    font-size: 5rem;
  }


  .doneren .animatie {
    width: 95vw;
    height: 40rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header .logo img {
    height: 7vw;
  }

  .home .content h3 {
    font-size: 4rem;
  }

  .doneren .animatie {
    width: 92.5vw;
    height: 40rem;
  }

}